.laptop{
    color: red;
}
.buy-btn{
    padding: 10px 20px;
    border-radius: 15px;
    background-color: white;
}
.buy-btn:hover{
    background-color: black;
    color: red;
    cursor: pointer;
}

.review-btn{
    padding: 15px 20px;
    margin: 30px auto;
    border-radius: 20px;
    background-color: white;
}
.review-btn:hover{
    background-color: black;
    color: red;
}